#SpaceshipGreen {
    position: absolute;
    left: 25%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
}

#SpaceshipPurple {
    position: absolute;
    left: 75%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    display : none;

}

#SpaceshipYellow {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    display : none;
}

#progress {
    position: absolute;
    right: 15%;
    top: 25%;
    margin-right: -150px;
    margin-top: -150px;
    width: 200px;
}

#progressBar {
    width: 0%;
    transition:
        width 1.5s;
  }

#Incorrect {
    color: red;
    font-size: 20px;
    display: none;
}